@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  font-size: 0.9rem;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  border-radius: 2rem;
}
.btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.btn.btn-white {
  background-color: white;
  border: 0;
  color: black;
}
.btn.btn-blue {
  background-color: #466be1;
  color: white;
}
.btn.btn-transparent {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.navbar {
  background-color: black;
  color: white;
  box-shadow: 0 5px 10px 0 rgb(11, 11, 11);
}
.navbar .navbar-brand img {
  width: 50px;
  height: 50px;
}
.navbar .navbar-toggler {
  padding: 0;
  color: inherit;
  font-size: 1.5rem;
  border: 0;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
  border: 0;
  outline: none;
}
.navbar .offcanvas {
  width: 90%;
  background-color: black;
  color: white;
}
.navbar .offcanvas .offcanvas-header .offcanvas-title {
  font-weight: bold;
}
.navbar .offcanvas .offcanvas-body {
  padding-top: 0;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: white;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(14, 14, 14);
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link h3 {
  font-size: 7.5vw;
  font-weight: bold;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link p {
  color: whitesmoke;
  font-weight: 300;
  font-size: 0.9rem;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu {
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: inherit;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: gray;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: black;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(black, #466be1, black);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(black, #9e46e1, black);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  background: radial-gradient(circle, rgb(13, 13, 13), black);
  color: white;
  overflow: hidden;
}
.hero-section .container {
  z-index: 2;
}
.hero-section .hero-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero-section .hero-description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: whitesmoke;
  font-weight: 300;
}
.hero-section .hero-link {
  font-size: 1rem;
  color: #00aaff;
  text-decoration: none;
}
.hero-section .hero-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero-section .hero-images .hero-app-img {
  position: absolute;
  width: 75px;
  height: 75px;
  opacity: 0.8;
  transition: transform 0.5s ease;
}
.hero-section .hero-images .hero-app-img:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

.about h1 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.about .btn {
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  width: 100%;
}
.about p {
  color: whitesmoke;
}
.about img {
  border-radius: 1rem;
}/*# sourceMappingURL=main.css.map */